<div class="p-4 flex flex-col gap-y-4">

  <div class="flex flex-col gap-2">
    <form class="w-full">
      <mat-form-field class="w-full">
        <mat-label>Base URL</mat-label>
        <input type="text" matInput [formControl]="baseUrlFormControl">
        <mat-hint>Enter the base URL like "https://localhost:9000".</mat-hint>
        @if (ifnameFormControl.hasError('required')) {
        <mat-error>Base URL is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Interface name</mat-label>
        <input type="text" matInput [formControl]="ifnameFormControl">
        <mat-hint>Enter the network interface name like "enx1c1adff64fae".</mat-hint>
        @if (ifnameFormControl.hasError('required')) {
        <mat-error>Interface name is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </form>
    <div class="flex gap-2">
      <button mat-raised-button (click)="onInitMaster()">INIT MASTER</button>
      <button mat-raised-button (click)="onDeinitMaster()">DEINIT MASTER</button>
    </div>
  </div>

  <hr>

  <div class="flex flex-col gap-2">
    <button mat-raised-button (click)="onGetSlaves()">GET SLAVES</button>
    <div>
      <table>
        <thead>
          <tr>
            <th class="p-2">#</th>
            <th class="p-2">name</th>
            <th class="p-2">position</th>
            <th class="p-2">state</th>
          </tr>
        </thead>
        <tbody>
          @for (slave of slaves$ | async; let i = $index; track $index;) {
          <tr>
            <td class="p-2">{{i}}</td>
            <td class="p-2">{{slave.name}}</td>
            <td class="p-2">{{slave.position}}</td>
            <td class="p-2">{{slave.state}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <form class="w-full">
      <mat-form-field class="w-full">
        <mat-label>Slave</mat-label>
        <input type="number" matInput [formControl]="slaveFormControl">
        <mat-hint>Enter the slave index, starting from 0 for the first slave.</mat-hint>
        @if (slaveFormControl.hasError('required')) {
        <mat-error>Slave is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </form>
  </div>

  <hr>

  <div class="flex gap-2 items-center">
    <button mat-raised-button (click)="onGetSlaveState()">GET SLAVE STATE</button>
    <div>{{slaveState$ | async | json}}</div>
  </div>

  <hr>

  <div class="flex flex-col gap-2">
    <form class="w-full">
      <mat-form-field class="w-full">
        <mat-label>State</mat-label>
        <input type="number" matInput [formControl]="stateFormControl">
        <mat-hint>Enter the state {{states | json}}.</mat-hint>
        @if (stateFormControl.hasError('required')) {
        <mat-error>Slave is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button (click)="onSetSlaveState()">SET SLAVE STATE</button>
    </div>
  </div>

  <hr>

  <div class="flex flex-col gap-2">
    <div class="flex gap-2">
      <button mat-raised-button (click)="onLoadParameters()">LOAD PARAMETERS</button>
      <button mat-raised-button (click)="onClearParameters()">CLEAR PARAMETERS</button>
      <button mat-raised-button (click)="onGetParameters()">GET PARAMETERS</button>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th class="p-2">#</th>
            <th class="p-2">index</th>
            <th class="p-2">subindex</th>
            <th class="p-2">name</th>
            <th class="p-2">bitLength</th>
            <th class="p-2">byteLength</th>
            <th class="p-2">dataType</th>
            <th class="p-2">objAccess</th>
            <th class="p-2">objectCode</th>
          </tr>
        </thead>
        <tbody>
          @for (parameter of parameters$ | async; let i = $index; track $index;) {
          <tr>
            <td class="p-2">{{i}}</td>
            <td class="p-2" [title]="parameter.index">0x{{parameter.index.toString(16)}}</td>
            <td class="p-2" [title]="parameter.subindex">0x{{parameter.subindex.toString(16)}}</td>
            <td class="p-2">{{parameter.name}}</td>
            <td class="p-2">{{parameter.bitLength}}</td>
            <td class="p-2">{{parameter.byteLength}}</td>
            <td class="p-2">{{parameter.dataType}}</td>
            <td class="p-2">{{parameter.objAccess}}</td>
            <td class="p-2">{{parameter.objectCode}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
